@charset "UTF-8";

body {
    background-color: rgb(151, 22, 142);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    color: rgb(163, 91, 91);
    background-color: rgb(60, 24, 94);
}

h2 {
    color: rgb(166, 166, 46);
}

p {
    text-align: justify;
}